[submodule "capabilities/fsx"]
	path = capabilities/fsx
	url = https://github.com/dot-do/fsx.git
[submodule "capabilities/bashx"]
	path = capabilities/bashx
	url = https://github.com/dot-do/bashx.git
[submodule "capabilities/gitx"]
	path = capabilities/gitx
	url = https://github.com/dot-do/gitx.git
[submodule "capabilities/npmx"]
	path = capabilities/npmx
	url = https://github.com/dot-do/npmx.git
[submodule "capabilities/pyx"]
	path = capabilities/pyx
	url = https://github.com/dot-do/pyx.git
