[submodule "do/capabilities/fsx"]
	path = do/capabilities/fsx
	url = https://github.com/dot-do/fsx.git
[submodule "do/capabilities/bashx"]
	path = do/capabilities/bashx
	url = https://github.com/dot-do/bashx.git
[submodule "do/capabilities/gitx"]
	path = do/capabilities/gitx
	url = https://github.com/dot-do/gitx.git
[submodule "do/capabilities/npmx"]
	path = do/capabilities/npmx
	url = https://github.com/dot-do/npmx.git
[submodule "do/capabilities/pyx"]
	path = do/capabilities/pyx
	url = https://github.com/dot-do/pyx.git
[submodule "ai/primitives"]
	path = ai/primitives
	url = https://github.com/dot-org-ai/primitives.org.ai.git
