[**dotdo API Reference v0.1.1**](../../README.md)

***

[dotdo API Reference](../../README.md) / [workflows](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [workflows/context/foundation.ts:219](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/workflows/context/foundation.ts#L219)

Validation result from running validation workflow

## Properties

### breakdown

> **breakdown**: `object`

Defined in: [workflows/context/foundation.ts:223](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/workflows/context/foundation.ts#L223)

#### customerClarity

> **customerClarity**: `number`

#### differentiationStrength

> **differentiationStrength**: `number`

#### interviewCount

> **interviewCount**: `number`

#### metricsBaseline

> **metricsBaseline**: `number`

#### problemSeverity

> **problemSeverity**: `number`

***

### completedAt

> **completedAt**: `Date`

Defined in: [workflows/context/foundation.ts:232](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/workflows/context/foundation.ts#L232)

***

### hypothesisId

> **hypothesisId**: `string`

Defined in: [workflows/context/foundation.ts:220](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/workflows/context/foundation.ts#L220)

***

### nextSteps

> **nextSteps**: `string`[]

Defined in: [workflows/context/foundation.ts:231](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/workflows/context/foundation.ts#L231)

***

### passed

> **passed**: `boolean`

Defined in: [workflows/context/foundation.ts:221](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/workflows/context/foundation.ts#L221)

***

### recommendations

> **recommendations**: `string`[]

Defined in: [workflows/context/foundation.ts:230](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/workflows/context/foundation.ts#L230)

***

### score

> **score**: `number`

Defined in: [workflows/context/foundation.ts:222](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/workflows/context/foundation.ts#L222)
