[**dotdo API Reference v0.1.1**](../../README.md)

***

[dotdo API Reference](../../README.md) / [types](../README.md) / TestResult

# Interface: TestResult

Defined in: [types/DO.ts:90](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/types/DO.ts#L90)

Individual test result

## Properties

### duration

> **duration**: `number`

Defined in: [types/DO.ts:94](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/types/DO.ts#L94)

***

### error?

> `optional` **error**: `string`

Defined in: [types/DO.ts:93](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/types/DO.ts#L93)

***

### name

> **name**: `string`

Defined in: [types/DO.ts:91](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/types/DO.ts#L91)

***

### passed

> **passed**: `boolean`

Defined in: [types/DO.ts:92](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/types/DO.ts#L92)
