[**dotdo API Reference v0.1.1**](../../README.md)

***

[dotdo API Reference](../../README.md) / [types](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [types/event.ts:309](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/types/event.ts#L309)

## Properties

### errors

> **errors**: [`EventValidationError`](EventValidationError.md)[]

Defined in: [types/event.ts:311](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/types/event.ts#L311)

***

### success

> **success**: `boolean`

Defined in: [types/event.ts:310](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/types/event.ts#L310)
