[**dotdo API Reference v0.1.1**](../../README.md)

***

[dotdo API Reference](../../README.md) / [agents](../README.md) / TestResult

# Type Alias: TestResult

> **TestResult** = `z.infer`\<*typeof* [`TestResultSchema`](../variables/TestResultSchema.md)\>

Defined in: [agents/typed-result.ts:257](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/agents/typed-result.ts#L257)
