[**dotdo API Reference v0.1.1**](../../README.md)

***

[dotdo API Reference](../../README.md) / [agents](../README.md) / ValidationResult

# Type Alias: ValidationResult\<T\>

> **ValidationResult**\<`T`\> = \{ `data`: `T`; `success`: `true`; \} \| \{ `error`: [`ValidationError`](../classes/ValidationError.md); `success`: `false`; \}

Defined in: [agents/schema.ts:193](https://github.com/dot-do/dotdo/blob/133603bf4355865921df6b01abcbf5c1d8e815f0/agents/schema.ts#L193)

Validation result type

## Type Parameters

### T

`T`
